### ROOT
### HORAS
# Reiniciando memoria
*/30 * * * * su root /home/lenonr/Github/dev_sysadmin/others/reboot_swap.sh

### DIAS
## Atualiza o sistema, segunda, quarta e sexta as 21:00
00 21 * * 01,03,05 apt update > /tmp/crontab.txt ; apt upgrade -y >> /tmp/crontab.txt ; apt list --upgradable >> /tmp/crontab.txt ; date >> /tmp/crontab.txt

### NON-ROOT

######## SISTEMA
## verifica memoria - 15 minutos
*/15 * * * * /home/lenonr/Github/dev_sysadmin/others/check_mem.sh

## checa atualizacoes - 30 minutos
*/30 * * * * apt list --upgradable > /tmp/checa_atualizacao

######## OUTROS
## update images goes-16
*/15 * * * * /usr/local/bin/goes16-background

## verifica se lista postagens twitter esta vazia - 30 minutos
*/30 * * * * /home/lenonr/Github/dev_scripts/Scripts/Python/leitor_url/check.sh

## posta twit automaticamente - cada 30 minutos
*/30 * * * * cd /home/lenonr/Github/dev_scripts/Scripts/Python/twitter_bot && bash main.sh

## lancamento de foguetes - cada 3 horas
00 */3 * * * cd /home/lenonr/Github/dev_scripts/Scripts/Python/launch_bot && bash main.sh

## converte audio - cada 06 horas 	# DESKTOP ONLY #
00 */6 * * * /home/lenonr/Github/dev_sysadmin/others/convert_audio.sh
