/*

Busca por "about:support",
criar o arquivo "userChrome.css",
na pasta "chrome",
com o seguinte codigo:

*/

@import "global/variables.css";
@import "global/global.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "personalbar/personalbar.css";

/* Reference: https://www.reddit.com/r/FirefoxCSS/comments/8h81bv/material_safari_windows_10 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* tabs --- rotate close button - put the code in userChrome.css*/

/* Height */
#nav-bar {
  min-height: 30px !important;
  z-index: 3
}

/*center align */
#urlbar {text-align: center;}

/*OPTION 01
/*.titlebar-button > .toolbarbutton-icon {
}*/

/* Autohide Tabs */
/*#TabsToolbar {
  min-height: 40px !important;
  margin-top: -40px !important;
  transition: all 0.2s ease 0s !important;
    -moz-box-ordinal-group: 2 !important;
}

#navigator-toolbox:hover > #TabsToolbar {
  margin-top: -1px !important;
  transition: all 0.3s ease 0s !important;
}*/

/*OPTION 02*/
/*Tabs on bottom*/
.tabbrowser-tab .tab-line,
#TabsToolbar,
.tabbrowser-tab .tab-bottom-line {
	 -moz-box-ordinal-group: 2;
}

.tabbrowser-tab[first-tab="true"] .tab-background {
	border-left-width:0px !important;
}

/*Fatten selected line when hovered*/
.tabbrowser-tab[selected]:hover .tab-line {
	height: 3px !important;
}
