[Desktop Entry]
Name=Kernel
Name[pt_BR]=Instalador de Kernel
Name[pt_PT]=Instalador de Kernel
Comment=Install ad unistall Kernels in System
Comment[pt_BR]=Instalar e desinstalar Kernels
Comment[pt_PT]=Instalar e desinstalar Kernels
Comment[id]=Install ad unistall Kernels in System
GenericName=Install and unistall kernel is very easy
GenericName[id]=Install and unistall kernel is very easy
GenericName[pt_BR]=Instalar Kernels ficou mais fácil
GenericName[pt_PT]=Instalar Kernels ficou mais fácil
Exec=duzeru-kernel
Icon=duzeru-kernel
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
